@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

.title{
    border:2px solid gray ;
    text-align:  center;
    padding: 20px;
    margin-top: 50px;      
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;   
 }

h1{
    color:rgb(255, 0, 0);
    background-color: color brown;
}
body
{
    background-color: rgb(115, 106, 106);
    font-size: xx-large;
}
